@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

/* ========================================
   ✨ リセットと共通スタイル
======================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Actor", sans-serif;
  font-style: normal;
  letter-spacing: 0.1em;
}

/* ========================================
   🎨 カラーテーマ変数（ライトモード）
======================================== */
:root {
  --bg-color: rgb(241, 241, 241);
  --text-color: #000;
  --todo-bg: rgb(253, 251, 251);
  --btn-bg: #E8B931;
  --btn-text: #fff;
  --border-color: #e3e3e3;
  --delete-btn-bg: #fff;
  --delete-btn-border: #e74c3c;
  --delete-btn-text: #e74c3c;
  --edit-btn-bg: #fff;
  --edit-btn-border: #E8B931;
  --edit-btn-text: #E8B931;
  --accent-color: rgb(22, 111, 174);

  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* ========================================
   🎨 カラーテーマ変数（ダークモード）
======================================== */
html.dark-mode {
  --bg-color: #121212;
  --text-color: #ede7e7;
  --input-bg: rgba(255, 255, 255, 0.1);
  --btn-bg: #226ab3;
  --btn-text: #fff;
  --border-color: #444;
  --delete-btn-bg: #e7783c;
  --delete-btn-border: #e7783c;
  --delete-btn-text: #fff;
  --accent-color: #ffa726;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  min-width: 300px;
  /* height: 100%; */
  padding-top: 5rem;
}