
/* ========================================
   header
======================================== */
.header {
  width: 80%;
  max-width: 500px;
  margin: 4rem auto 2rem;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0;
}
