/* ========================================
  header
======================================== */
.header {
  width: 100%;
  padding: 1.8rem 2rem 0 2rem;
  font-size: 0.8rem;
  background-color: var(--todo-bg);
  text-align: center;
  letter-spacing: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.greeting {
  display: block;
  margin-top: 3rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-color);
  transition: color 0.3s ease;
}


.darkModeToggle,
.selectableTab,
.currentPageTab {
  width: 100px;
  padding: 0.4rem 0.6rem;
  margin: 0 0 0.6rem;
  border-radius: 10px;
}

.darkModeToggle {
  color: var(--text-color);
  transition: color 0.2s ease;
}

.darkModeToggle:active {
  color: var(--accent-color);
}

@media(min-width: 600px) {
  .greeting {
    font-size: 1rem;
    margin-top: 5rem;
  }

  .selectableTab,
  .currentPageTab {
    width: 120px;
    padding: 0.8rem 1rem;
  }
}

.currentPageTab {
  background-color: var(--bg-color);
  font-weight: bold;
}

.darkModeToggle,
.selectableTab {
  cursor: pointer;
}