
/* ========================================
   📋 Todoアイテム
======================================== */
.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  padding: 10px;
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  gap: 0.5rem;
  background-color: var(--todo-bg);
}

/* ========================================
   📝 Todoテキスト
======================================== */
.todoText {
  flex-grow: 1;
  font-size: 0.8rem;
  color: var(--text-color);
}

/* ========================================
   ✅ チェックボックス
======================================== */
.todoCheckbox {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  accent-color: var(--btn-bg);
}

.todoCheckbox:checked + .todoText {
  text-decoration: line-through;
  color: var(--border-color);
}

/* ========================================
   🗑️ 削除ボタン
======================================== */
.deleteBtn {
  padding: 5px;
  cursor: pointer;
  background-color: var(--delete-btn-bg);
  color: var(--delete-btn-text);
  border: 1px solid var(--delete-btn-border);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: var(--delete-btn-text);
  color: var(--delete-btn-bg);
}

/* ========================================
   📝 編集ボタン、編集テキスト
======================================== */
.editBtn {
  padding: 5px;
  cursor: pointer;
  background-color: var(--edit-btn-bg);
  color: var(--edit-btn-text);
  border: 1px solid var(--edit-btn-border);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.editBtn:hover {
  background-color: var(--edit-btn-text);
  color: var(--edit-btn-bg);
}

.saveBtn {
  padding: 5px;
  cursor: pointer;
  background-color: var(--edit-btn-bg);
  color: var(--edit-btn-text);
  border: 1px solid var(--edit-btn-border);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.saveBtn:hover {
  background-color: var(--edit-btn-text);
  color: var(--edit-btn-bg);
}

.todoEditInput {
  margin-left: 36px;
  flex-grow: 1;
  font-size: 1rem;
  color: var(--text-color);
}