
/* ========================================
input group
======================================== */
.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 3rem auto;
  background-color: var(--todo-bg);
  padding: 16px;
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
}

@media (min-width: 600px) {
  .inputGroup {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .inputGroup .todoInput {
    margin-bottom: 0;
  }
}

/* ========================================
input 
======================================== */
.todoInput{
  width: 90%;
  max-width: 300px;
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 20px;
  color: var(--text-color);
}

/* ========================================
add button
======================================== */
.addBtn {
  padding: 0.4rem 0.8rem;
  font-size: 14px;
  font-weight: 600;
  color: var(--btn-text);
  background-color: var(--btn-bg);
  border: 2px solid var(--btn-bg);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.addBtn:hover {
  background-color: var(--bg-color);
  color: var(--btn-bg);
  border: 2px solid var(--btn-bg);
}

.addBtn:active {
  transform: scale(0.98); /* ほんの少し縮むとカチッと感UP */
  box-shadow: none;       /* 影を消して引き締める */
}

