/* ========================================
   📝 Todoリスト
======================================== */
.todoList {
  width: 80%;
  max-width: 500px;
  height: 40px;
  margin: 3rem auto;
  list-style-type: none;

}
