
/* ========================================
   📝 入力欄・リスト共通
======================================== */
.todo_list {
  width: 90%;
  max-width: 300px;
  height: 40px;
}

/* ========================================
   📋 Todoリスト
======================================== */
.todo_list {
  list-style-type: none;
  width: 90%;
  max-width: 300px;
  margin: 3rem auto;
}
