/* ========================================
todo item
======================================== */
.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem auto;
  padding: 16px;
  border: 0.5px solid var(--border-color);
  border-radius: 10px;
  gap: 0.5rem;
  background-color: var(--todo-bg);
}

/* ========================================
todo text
======================================== */
.todoText {
  flex: 1 1 auto;
  font-size: 0.8rem;
  color: var(--text-color);
  line-height: 1.4;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

@media (min-width: 600px) {
  .todoText {
   font-size: 1rem;
  }

  .todoItem {
    font-size: 1rem;
    padding-bottom: 32px;
  }
}

/* ========================================
checkbox
======================================== */
.todoCheckbox {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  accent-color: var(--btn-bg);
}

.todoCheckbox:checked+.todoText {
  text-decoration: line-through;
  color: var(--border-color);
}

/* ========================================
delete button
======================================== */
.deleteBtn {
  padding: 5px;
  cursor: pointer;
  background-color: var(--delete-btn-bg);
  color: var(--delete-btn-text);
  border: 1px solid var(--delete-btn-border);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: var(--delete-btn-text);
  color: var(--delete-btn-bg);
}

/* ========================================
edit button
======================================== */
.editBtn {
  padding: 5px;
  cursor: pointer;
  background-color: var(--edit-btn-bg);
  color: var(--edit-btn-text);
  border: 1px solid var(--edit-btn-border);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.editBtn:hover {
  background-color: var(--edit-btn-text);
  color: var(--edit-btn-bg);
}

.todoItemEditing {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem auto;
  padding: 16px 16px 32px;
  border: 1px solid var(--btn-bg);
  border-radius: 10px;
  background-color: var(--todo-bg);
  gap: 0.5rem;
}

.todoEditInput {
  margin-left: 36px;
  flex-grow: 1;
  color: var(--text-color);
}



/* ========================================
save button
======================================== */
.saveBtn {
  padding: 5px;
  cursor: pointer;
  background-color: var(--edit-btn-bg);
  color: var(--edit-btn-text);
  border: 1px solid var(--edit-btn-border);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.saveBtn:hover {
  background-color: var(--edit-btn-text);
  color: var(--edit-btn-bg);
}